.card {
  transition: 0.1s;
  border-radius: 15px;
  background-color: rgb(41, 47, 51);
  color: #ffffff;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card:hover {
  box-shadow: 0 30px 36px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.card-body {
  transition: 0.3s;
}

.card-text {
  color: #b6b4b4;
}

.summary {
  color: #f5f5f5;
  font-size: 15px;
}

.btn {
  background-color: #005abb;
  border-radius: 12px;
  font-weight: bold;
}
